<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title>Remus T Muthomi</mat-card-title>
    <mat-card-subtitle>Developer and payroll expert</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <strong>
        Contact Info
      </strong>

      <div>
        <span class="material-icons">
          settings_cell
          </span>
          <a href="tel:+254720296523">+254 720 296 523</a>
      </div>
      <div>
        <span class="material-icons">
          alternate_email
          </span> <a href="mailto:remusmt@gmail.com">remusmt@gmail.com</a>
      </div>

    </div>
  </mat-card-content>
</mat-card>

