.example-card {
  max-width: 400px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width-field {
  width: 100%;
}

.actions-centered{
  text-align: center;
}

.table {
  width: 100%;
}

.payslip-section-header {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 5px;
}

.payslip-item{
  width: 100%;
  display: flex;
}

.payslip-subheader{
  width: 100%;
  display: flex;
  font-weight: 600;
  padding-top: 10px;
}

.payslip-item-spacer{
  flex: 1 1 auto;
}

